
.search_button {
    display: block;
    z-index: 100;
    box-shadow:  #3c4fe0 0 -3px 0 inset,  rgba(22, 25, 42, 0.7) 0 5px 10px -3px;
    background-color: transparent;
    box-sizing: border-box;
    color: #0d00ff;
    cursor: pointer;
    padding: 0 10;
    position: absolute;
    transition: box-shadow .15s,transform .15s;
    height: 6rem;
    width: 12rem;
    border-radius: 5px;
    font-size: 23px;
    opacity: 0;
  }
  
  .search_button:focus {
  box-shadow: rgba(22, 25, 42, .4) 0 2px 4px, rgba(22, 25, 42, .3) 0 5px 10px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .search_button:hover {
  box-shadow: rgba(22, 25, 42, .4) 0 4px 8px, rgba(22, 25, 42, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
  opacity: 1;
  }
  
  .search_button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
  }
  